In [57]:
import pandas as pd
import numpy as np

In [22]:
file_path = 'dataset.csv'
df = pd.read_csv(file_path)

In [23]:
# df['Cytopuncture'].value_counts() 
# df = df[df.groupby('Cytopuncture').Cytopuncture.transform('count')>5]

Cytopuncture
nodule                      436
gmn                         240
goitre                      133
adp                          21
goitre nodulaire             19
thyroidite lymphocytaire     18
hyperplasie                   9
Name: count, dtype: int64

In [27]:
# df['ATCD'].value_counts()
# df['ATCD']=df['ATCD'].str.replace('sœurs','soeur').str.replace('sœur','soeur').str.replace('maternelle','maternel')

ATCD
sans         602
maternel     120
paternel      69
soeur         67
frère          8
decendant      8
Name: count, dtype: int64

In [30]:
df['TNM'].unique()

array(['t1b', 't2n1b', 't1bn1a', 't4', 't2', 't1an1b', 't3', 't1a',
       't1bn1', 't2n1a', 't1bn1b', nan, 't1n1b', 't3n1b', 't3a', 't3n1a',
       't3an1a', 'nift-p', 't1n1', 't1an1a', 't3b', 't3an1', 't4a',
       't3bn1a', 't2n1bm1', 't1an1', 't2a', 't3bn1', 't2nxm1', 't3n1',
       't2n1', 't1', 't3bn1b', 't2b', 't4an1b', 't1bn'], dtype=object)

In [40]:
def extract_T(x):
    if type(x) != str:
        return x
    if x=='nift-p':
        return 0
    if 't' in x:
        return x.split('t')[1].split('n')[0]
    return x
def extract_N(x):
    if type(x) != str:
        return x
    if x=='nift-p':
        return 0
    if 'n' in x:
        return x.split('n')[1].split('m')[0]
    return 0

def extract_M(x):
    if type(x) != str:
        return x
    if x=='nift-p':
        return 0
    if 'm' in x:
        return x.split('m')[1]
    return 0

In [41]:
df['T'] = df['TNM'].apply(extract_T)
df['N'] = df['TNM'].apply(extract_N)
df['M'] = df['TNM'].apply(extract_M)

In [51]:
df['Location'].value_counts()

Location
droit                     385
gauche                    219
droit et gauche           182
isthme                     24
droit et isthme            16
gauche et isthme            5
droit isthme et gauche      2
isthme et gauche            1
isthmique                   1
Name: count, dtype: int64

In [48]:
# expand the Localisation column
# values are droit, gauche, isthme, droit et isthme, gauche et isthme
# we will create a new column for each value
# for each row, if the value is present in the Localisation column, we will set the value to 1, otherwise 0 and nan if nan
df['local_droit'] = df['Location'].apply(lambda x : 1 if type(x)==str and 'droit' in x else 0 if type(x)==str else x)
df['local_gauche'] = df['Location'].apply(lambda x : 1 if type(x)==str and 'gauche' in x else 0 if type(x)==str else x)
df['local_isthme'] = df['Location'].apply(lambda x : 1 if type(x)==str and 'isthm' in x else 0 if type(x)==str else x)

In [49]:
print(f"{df['local_droit'].value_counts() = }")
print(f"{df['local_gauche'].value_counts() = }")
print(f"{df['local_isthme'].value_counts() = }")

df['local_droit'].value_counts() = local_droit
1.0    585
0.0    250
Name: count, dtype: int64
df['local_gauche'].value_counts() = local_gauche
0.0    426
1.0    409
Name: count, dtype: int64
df['local_isthme'].value_counts() = local_isthme
0.0    786
1.0     49
Name: count, dtype: int64

In [ ]:
# you can drop location column
# df.drop(columns=['Location'], inplace=True)

In [53]:
# df.Diamètre has values like 1.5 cm, and 78 mm, convert them to mm
def convert_to_mm(x):
    if type(x) == str:
        if 'cm' in x:
            return float(x.split(' ')[0]) * 10
        elif 'mm' in x:
            return float(x.split(' ')[0])
    return x

In [54]:
df['Diameter'].value_counts()

Diameter
1.5 cm     65
2 cm       60
1 cm       48
0.5 cm     31
1.2 cm     30
           ..
46.1 mm     1
2.4 cm      1
11.2 mm     1
5.4 mm      1
19 mm       1
Name: count, Length: 90, dtype: int64

In [55]:
df['Diameter'] = df['Diameter'].apply(convert_to_mm)
df['Diameter'].value_counts()

Diameter
15.0    95
20.0    61
10.0    56
17.0    51
12.0    37
        ..
24.0     1
70.0     1
37.0     1
58.0     1
21.0     1
Name: count, Length: 64, dtype: int64

In [59]:
df['Iodine Dosage'].value_counts()

Iodine Dosage
100 mCi    199
100 mci    189
50 mci      30
50 mCi      21
150 mCi      5
90 mCi       5
150 mci      3
90 mci       3
55 mCi       1
Name: count, dtype: int64

In [58]:
# oui is going to be dropped
# drop the row containing oui
df = df[df['Iodine Dosage'] != 'oui']
# non is going to be converted to np.nan
df['Iodine Dosage'] = df['Iodine Dosage'].apply(lambda x: np.nan if x == 'non' else x)

C:\Users\MSI GAMER\AppData\Local\Temp\ipykernel_13200\2562092023.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Iodine Dosage'] = df['Iodine Dosage'].apply(lambda x: np.nan if x == 'non' else x)

In [60]:
df['Iodine Dosage'].value_counts()

Iodine Dosage
100 mCi    199
100 mci    189
50 mci      30
50 mCi      21
150 mCi      5
90 mCi       5
150 mci      3
90 mci       3
55 mCi       1
Name: count, dtype: int64

In [61]:
df['Iodine Dosage'] = df['Iodine Dosage'].apply(lambda x: float(x.split(' ')[0]) if type(x) == str else x)
df['Iodine Dosage'].value_counts()

C:\Users\MSI GAMER\AppData\Local\Temp\ipykernel_13200\2112936604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Iodine Dosage'] = df['Iodine Dosage'].apply(lambda x: float(x.split(' ')[0]) if type(x) == str else x)

Iodine Dosage
100.0    388
50.0      51
150.0      8
90.0       8
55.0       1
Name: count, dtype: int64

In [62]:
df.to_csv('dataset.csv', index=False)