#Introduction
Introduction to be modified

# Installs

In [ ]:
%pip install requests

# Imports
These are the libraries this notebook is going to use. if you're having difficulty with executing the notebook make sure to have all modules correctly installed in your enviroment.

In [4]:
import pandas as pd
import requests
from io import BytesIO

# Getting Started

In [11]:
data_url = "https://raw.githubusercontent.com/Abd-Elhakim-Arabet/TC-Analysis/main/attempt_20_01.xlsx"
response = requests.get(data_url, verify=False)
data = pd.read_excel(BytesIO(response.content), engine='openpyxl')
data.head()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'raw.githubusercontent.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

,ID,N° DM 2023,Sexe,Age,wilaya,Type de CPT,Nombre de nodules,TNM,echographie,cytoponction,...,chirurgie,curage gg,suite post opératoires,métastases gg,Métastases à distance,prise Iode,invasion capsulaire,invasion tissu musculaire,emboles vasculaires,Unnamed: 26
0,tfslnikm,001/23,F,43.0,jijel,classique,NaN,pT1b,TIRADS 4,NaN,...,TT,NaN,simples,non,non,NaN,oui,oui,non,NaN
1,vhugpdrt,002/23,F,53.0,alger,classique,1.0,pT1b,NaN,nodule,...,TT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,skkjhijg,003/23,F,48.0,alger,vésiculaire,2.0,NaN,NaN,NaN,...,TT,NaN,simples,non,non,NaN,non,non,non,NaN
3,spyouhlm,004/23,F,50.0,chlef,vésiculaire,1.0,pT2,NaN,NaN,...,TT,NaN,simples,non,non,NaN,non,non,non,NaN
4,tqkumidy,005/23,F,70.0,tipaza,classique,1.0,pT2N1b,TIRADS 4,nodule,...,TT,central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN